header{
	width:100vh;
    height: 10vh;
  	position:fixed;
  	background-color:black;
  
}
.botonera{
	width:100vh;
  	height:10vh;
}
.line{
	height: 2px;
  	background: linear-gradient(45deg, #66f, #f80, #ffc);
}
.principal-bg{
  	width:100vh;
	height:100vh;
	background-color:grey;
  	display: flex;
  	justify-content:center;
  	align-items:center;
}
.prinicipal-bg h1{
	font-size:60px;
}
.outside.section{

}
