html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}

@font-face {
  font-family: fuente_1;
  src: url('assets/fonts/.woff2') format('woff2'),
    url('assets/fonts/.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

body{
  margin: 0;
  overflow-x: hidden;  
}

header{
	width:100%;
  position:fixed;
  
}
nav{
  height: 10vh;
  background-color: #1c1c1c;
}

.p-2{
  color: white;
  font-size: large;
}

.botonera{
  width: 50%;
  justify-content: space-around;
}

.line{
	height: 2px;
  background: linear-gradient(45deg, #66f, #f80, #ffc);
}

.principal-bg{
  width:100%;
  height:100vh;
  background-image: url(assets/images/technologybackground.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  color: white;
}
.principal-bg h1{
  font-size: 60px;
}

.p1{
  display: flex;
  flex-direction: column;
  align-self: center;
  
 }
 .p1 h2{
  font-size: 35px;
  color: #f80;
 }
 
 .seccion{
  height: 100vh;
  width:100%;
  margin: auto;
  padding: 20px;
  background-color: #191919;
  color: blueviolet;
  justify-content: center;
  align-items: center; 
}
.lenguajes h1{
  color: #f80;
  margin-top: 50px;
}
.proyectos h1, .experiencia h1{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
  color: #f80;
}
footer{
  color: white;
  font-size: small;
}
