<section class="seccion row">
    <div class="lenguajes col">
      <h1>Skills</h1>
      <div class="parent-box">
        <div class="container">
                    
          <div class="skills">
            <div class="details">
              <span>HTML</span>
              <span>90%</span>
            </div>

            <div class="menu">
              <div id="html-menu"></div>
            </div>
          </div>

          <div class="skills">
            <div class="details">
              <span>CSS</span>
              <span>75%</span>
            </div>
            
            <div class="menu">
              <div id="css-menu"></div>
            </div>
          </div>
          
          <div class="skills">
            <div class="details">
              <span>Javascript</span>
              <span>80%</span>
            </div>

            <div class="menu">
              <div id="js-menu"></div>
           </div>
          </div>

          <div class="skills">
            <div class="details">
              <span>Angular</span>
              <span>10%</span>
            </div>

            <div class="menu">
              <div id="angular-menu"></div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="idioma col"> 
      <h1>Idiomas</h1>
      <div class="parent-box">
        <div class="container">
                    
          <div class="skills">
            <div class="details">
              <span>Inglés</span>
              <span>100%</span>
            </div>

            <div class="menu">
              <div id="english-menu"></div>
            </div>
          </div>

          <div class="skills">
            <div class="details">
              <span>Español</span>
              <span>100%</span>
            </div>
            
            <div class="menu">
              <div id="spanish-menu"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>
