<header>
    <nav class="navbar navbar-dark">
      <!-- Navbar content -->
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="font-size: 2rem">
          <img src="/assets/assets/images/logo.png" alt="" width="60" height="50" class="d-inline-block align-text-top">
          
        </a>
        <div class="botonera d-flex flex-row-reverse">
          <button type="button" class="btn btn-secondary">Login</button>
          <div class="p-2"><a class="nav-link" href="#">Contacto</a></div>
          <div class="p-2"><a class="nav-link" href="#seccion experiencia">Experiencia</a></div>
          <div class="p-2"><a class="nav-link" href="#seccion proyectos">Proyectos</a></div>
        </div>
      </div>
    </nav>
    <div class="line"></div>
</header>

<div class="principal-bg">
    <div>
        <h1>Rebeca Ozuna</h1>
    </div>
    <div class=p1>
        <h2>Web Developer</h2>
    </div>
</div>

<app-skills></app-skills>

<app-proyectos></app-proyectos>

<app-experiencia></app-experiencia>



  <footer class="foot bg-dark">
    <p>Página web creada por Rebeca Ozuna</p>
  </footer>
  