<section class="seccion experiencia" id="seccion experiencia">
    <h1>Experiencia</h1>
    <div class= row>
      <div class="col-2 job">
        <img src="/assets/assets/images/logo.jpg">
      </div>

      <div class="col-10 jobdetail">
        <div>PUESTO 1 / FECHAS</div>
        <div>ACTIVIDADES</div>
        <div>HERRAMIENTAS UTILIZADAS</div>
      </div>
    </div>

    <div class= row>
      <div class="col-2 job">
        <img src="/assets/assets/images/logo.jpg">
      </div>

      <div class="col-10 jobdetail">
        <div>PUESTO 2 / FECHAS</div>
        <div>ACTIVIDADES</div>
        <div>HERRAMIENTAS UTILIZADAS</div>
      </div>
    </div>

    <div class= row>
      <div class="col-2 job">
        <img src="assets/assets/images/logo.jpg">
      </div>

      <div class="col-10 jobdetail">
        <div>PUESTO 3 / FECHAS</div>
        <div>ACTIVIDADES</div>
        <div>HERRAMIENTAS UTILIZADAS</div>
      </div>
    </div>
</section>
